/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */


/* Your code starts here! */
.container {
	display: flex;
	flex-direction: column;
}

header {
	background-color: whitesmoke;
	padding: 0px 0 30px 0;
	height: 80px;
	
}
nav {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-size: 22px;
	font-weight: 500;
}
nav a {
	color: grey;
	margin: 27px 0 0 0;
}

.main {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 70px 0 50px 0;
}

.main-action {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-text {
	margin: 70px 0 0 0;

}

.main h2 {
	font-size: 70px;
	text-align: center;
	line-height: 50px;
}
hr {
	width: 95%;
	margin: 30px 30px 40px 30px;
	color: black;

}

.button {
	padding: 10px 50px;
	background-color: rgb(255, 255, 255);
	text-decoration: none;
	color: black;
	font-size: 16px;
	border: 1px solid black;
}


a {
	text-decoration: none;
	color: grey;
  }
  .info {
	  display: flex;
	  flex-direction: row;
	  justify-content: space-evenly;
	  align-items: center;
	  margin: 0 0 40px 0;
  }

  .feature {
	  margin: 0 0 0 60px;
	  line-height: 22px;
	  font-size: 20px;
  }

  .about {
	margin: 0 30px 0 0;
	line-height: 22px;
	font-size: 20px;
}



.banner {
	margin: 0 60px;
}

.advert {
	display: flex;
	justify-content: space-evenly;
	padding: 0 50px 0 30px;
	margin: 40px 0 0 30px;
	font-size: 22px;
}

.banner img {
	width: 100%;
}

footer{
	display: block;
	margin: 20px 0 150px 22px;
} 

footer div {
	margin: 20px 0 20px 0;
	font-size: 22px;
}

.contact {
	padding: 10px;
	line-height: 20px;
	margin-left:30px;

}
.copyright {
	text-align: center;
	width:100%;
}

/* services page styling*/

.services {
	margin: 50px 40px 20px 60px;
	text-align: left;
	font-size: 22px;
	line-height: 25px;
}

.services-card {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.card {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: baseline;
	margin: 30px 40px;
	font-size: 22px;
	line-height: 30px;
}

.box {
	border: 1px solid black;
	margin: 0 20px;
	padding: 2rem;
	background-color: whitesmoke;
}

.box button {
	margin: 16px 0 0 0;
	padding: 15px 45px;
	border-radius: 8px;
	color: black;
	font-size: 20px;
}

.fact {
	display: flex;
	justify-content: space-between;
	margin: 0 40px;
}

.fact-card  {

}